<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CabManagementService</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Zoom Go</title>


    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <style>

        .header_section{
            background-color: #F7C621;

        }

    </style>

    
</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" asp-action="Home" asp-controller="Home">
                        <span>
                            Zoom Go
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-action="Home" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-action="UserList" asp-controller= "Home">Cabs Booked</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="RegisteredUsersList" asp-controller="Home">Registered Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="UserResponse" asp-controller="Home">User Response </a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
   
        </header>
        <!-- end header section -->



            @RenderBody()


        <!-- footer section -->
        <section class="container-fluid footer_section">
            <div class="container">
               
            </div>
        </section>
        <!-- footer section -->

        <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>


        <!-- owl carousel script -->
        <script type="text/javascript">
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 20,
                navText: [],
                autoplay: true,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    1000: {
                        items: 2
                    }
                }
            });
        </script>
        <!-- end owl carousel script -->



    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
