<section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2>
              About <br>
              Zoom Go
            </h2>
            <p>
             Zoom Go is a dynamic and innovative cab service company that takes you on a hassle-free journey. With their fleet of modern vehicles and skilled drivers, they ensure swift and comfortable rides, making transportation a breeze. Experience the convenience and efficiency of Zoom Go for all your travel needs.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="/images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
