

    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our <br>
                   Services
                </h2>
            </div>
            <div class="service_container">
                <div class="box">
                    <div class="img-box">
                        <img src="/images/delivery-man.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Private Driver
                        </h5>
                        <p>
                            
                        </p>
                      
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="/images/airplane.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                           Airport Transfer
                        </h5>
                        <p>
                          
                        </p>
                       
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="/images/backpack.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Luggage Transfer
                        </h5>
                        <p>
                            
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->
    <!-- info section -->

    <section class="info_section layout_padding-top layout_padding2-bottom">
        <div class="container">
            <div class="box">
                <div class="info_form">
                    <h4>
                        Subscribe Our Newsletter
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Enter your email">
                        <div class="d-flex justify-content-end">
                            <button>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="info_links">
                    <ul>
                        <li class=" ">
                            <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="">
                            <a class="" href="about.html"> About</a>
                        </li>
                        <li class="">
                            <a class="" href="service.html"> Services </a>
                        </li>
                        <li class="">
                            <a class="" href="news.html"> News</a>
                        </li>
                        <li class="">
                            <a class="" href="contact.html">Contact Us</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="/images/fb.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="/images/twitter.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="/images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="/images/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
 

    <!-- end info section -->
   